<div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <h3 class="text-center">Login to Logs viewer</h3>
            <div class="form-group">
                <input type="name" class="form-control" formControlName="name" placeholder="Username">
                <div *ngIf="form.get('name').errors">
                    <small *ngIf="form.get('email').hasError('required')">Name is required.</small>
                </div>
            </div>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <div *ngIf="form.get('password').errors && form.get('password').dirty">
                <small *ngIf="form.get('password').hasError('required')">Password is required.</small>
            </div>
        </div>
        <span class="text-danger btn-block text-center " *ngIf="response.error">{{response.message}}</span>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Login</button>
        <button type="button" onclick="location.href='/api/docs'" class="btn btn-secondary btn-block">Api docs</button>
    </form>
    
</div>