<div *ngIf="!showTerminal">
  <p>Select date:</p>
  <div class="card-container">
    <div *ngFor="let file of files" class="card card-small" (click)="getFile(file)" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path
          d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z" />
      </svg>
      <span>{{file.date}}</span>
    </div>
  </div>
</div>

<div *ngIf="showTerminal" class="content-terminal">
  <p>{{fileDate}}</p>
  <div class="terminal">
    <ngx-json-viewer *ngIf="jsonFile" [json]="fileContent" [expanded]="false"></ngx-json-viewer>
    <pre *ngIf="!jsonFile">{{fileContent}}</pre>
  </div>
  <div class="card-container">
    <a class="card" rel="noopener" (click)="scrollToTop()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" /></svg>

      <span>Home</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" /></svg>
    </a>
  </div>
</div>